GOOGLE_CLIENT_ID=your google client id
GOOGLE_CLIENT_SECRET=your google client secret
JWT_SECRET=your jwt token
ZOHO_PASSWORD=your zoho password
ZOHO_EMAIL=your zoho email
ZOHO_SMTP_PORT=465
NEXT_PUBLIC_SHOW_DEV_OTP=true

IMAGEKIT_PUBLIC_KEY=your image kit public key
IMAGEKIT_PRIVATE_KEY=your image kit private key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=your image kit url endpoint